/********** newSurveyHistory update 0716 start *********/
.person-link-input{
	width: 86%;
    height: 1.5em;
	padding: 2px;
	border: 1px solid #bbb;
    border-radius: 3px;
}
.add-person-btn{
	position: absolute;
    right: 2rem;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 0 10px;
}
.am-list-item{
	&.company-start-time-picker{
		background-color: transparent;
		padding-left: 7px;
		.am-list-line{
			.am-list-content{
				span{
					color: #888;
					font-size: 15px;
				}
			}
			.am-list-extra{
				color: #000;
				-webkit-flex-basis: 66%;
				-ms-flex-preferred-size: 66%;
				flex-basis: 66%;
				text-align: left;
			}
		}
	}
}
/********** newSurveyHistory update 0716 end *********/